<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SU_DB" connectionString="Data Source=.;Initial Catalog=ASPM2003_SU_Database;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  <add name="SUMetadataEntities" connectionString="metadata=res://*/MetadataModel.csdl|res://*/MetadataModel.ssdl|res://*/MetadataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=ASPM2003_SU_Database;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>