<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>       
    </configSections>
    <connectionStrings>
        <add name="SUManagers.Settings.SU_DB" connectionString="Data Source=.;Initial Catalog=ASPM2003_SU_Database;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SUCore.Settings.SU_DB" connectionString="Data Source=.;Initial Catalog=ASPM2003_SU_Database;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
  <appSettings>
    <add key="ModulesFolder" value="Modules"/>
  </appSettings>
    
</configuration>